* {
    margin: auto;
    width: 450px;
    box-sizing: border-box;
    font-family:"Quicksand", sans-serif;
    /* padding:0; */
}

.head {
    text-align: center;
}

#user {
    box-sizing: border-box;
    background-color: aqua;
    width: 7rem;
    height:7rem;
    border: 2px solid black;
}

.link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
