body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
    padding: 20px;
  }
  a:hover {
    opacity:0.5;
  }  
  
  
  .container {
    margin-top: 50px; 
    Display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone {
    background-color: #36383F;
    border-radius: 40px;
    width: 300px;
    height: 600px;
    Display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
  }
  .content {
    border: 1px solid #36383F;
    border-radius: 20px;
    width: 94%;
    height: 91%;
    background-color: #F5F6FA;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .parentdiv {
    background-color:white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    }

    .parentdiv img {
      width: 8%;
      height: 8%;
      padding-left: 30px;
      padding-top: 44px ;
      cursor: pointer;
    }

    .parentdiv p {
      color: #66CCAC;
      padding-top: 0px;
      padding-left: 30px;
      font-size: xx-large;
    }

    .childdiv {
      height: 500px;
      background-color: rgb(189, 181, 181);
      padding-top: -20px;
      padding-left: 10px;
      text-align: center;
      margin-bottom: 200px;     
    }

    .footer-menu {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      justify-content: space-around;
    }

    .footer-menu img {
      width: 150%;
    }