* {
margin:auto;
    width: 450px;
    font-family: "quicksand" sans-serif;
}

.header {
    text-align: center;
}


#user  {
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: block;
   
}

button {
    width: 15%;
    margin-top: 2rem;
}

div:last-of-type {
    display:flex;
    justify-content: center;
}