/*************************************************/
/***************** Header & Footer ***************/
/*************************************************/

/*Bottom navigation bar START*/
.footerBtns {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
}

.footerButton {
    cursor: pointer;
    height: 70px;
    width: 100px;
    padding: 5px;
    font-family: "Quicksand"sans-serif;
    padding-bottom: 20px;
}

.footerButton>img {
    width: 2rem;
    height: 2rem;
}

.footerButton>p {
    margin-top: .1rem;
    font-size: 16pt;

}

.parentdiv img {
    width: 6%;
    height: 8%;
    padding-left: 30px;
    padding-top: 45px;
    cursor: pointer;
}


.firstdiv>img {
    width: 5%;
    height: 5%;
}

/*Bottom navigation bar START*/


/*************************************************/
/***************** Namhyung Kim ******************/
/*************************************************/

/* Splash_Page */
.splashContainer {
    width: auto;
    height: 900px;
    background-image: linear-gradient(to left top, #6b9cd1, #54a4d2, #3fabcf, #33b2c7, #39b7bc, #41b9b4, #4dbbac, #59bca3, #5ebc9e, #63bc99, #68bb94, #6ebb8f);

}

.splashContainer p {
    color: white;
    font-size: 24pt;
    text-align: center;
}

.splashLogoImg {
    max-width: 90%;
    max-height: 100%;
    padding-top: 60%;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}

/* Add_Friend CSS START */
.fromContacts {
    background-color: #b2b3b8;
    margin: 0 30px;
    padding: 10px;
}

.fromContacts h3 {
    text-align: center;
    cursor: pointer;
}

.showContactList {
    background-color: #e2ecf1;
    margin: 0px 30px;
    display: none;
}

.showContactList ul {
    list-style-type: none;
}

.showContactList ul li {
    padding: 10px;
    border: solid 1px #b2b3b8;
}

.inviteFriend {
    background-color: #b2b3b8;
    margin: 30px 30px;
    padding: 10px;
    margin-bottom: 10px;
}

.personalCode {
    display: flex;
    flex-direction: column;
}

.personalCode {
    margin-top: 10px;
}

.personalCode h4 {
    text-align: left;
    padding-left: 30px;
}

.codeNumber {
    background-color: #e2ecf1;
    margin: 5px 30px;
    padding: 20px;
    text-align: left;
    color: #b2b3b8;
    position: relative;
}

.codeNumber .copyBtn {
    padding: 10px;
    position: absolute;
    top: 19%;
    left: 85%;
}

.addFriendBtn {
    background-color: #b2b3b8;
    color: white;
    margin-top: 200px;
    padding: 10px 150px;
}


/* Friends_list CSS */
.friendsListTitle {
    text-align: center;
}

.allFriends h4 {
    text-align: left;
    margin: 10px 30px;
    color: #66cc99;
}

.allFriends {
    margin-top: 30px;
}

.addBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    cursor: pointer;
    border: 2px solid #66cc99;
    margin-left: 35px;
    border-radius: 50%;
}

.addBtn:after {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #66cc99;
    top: 50%;
    left: 50%;
}

.addBtn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #66cc99;
    height: 50%;
    width: 4px;
}

.addFriendText {
    padding-top: 20px;
    text-align: left;
    padding-left: 100px;
}

.addFriendNameList li {
    background-color: #e0e0e0;
    text-align: left;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 30px 30px;
    list-style-type: none;
    font-family: cursive;
}


/* Chat_page_1 CSS */
.chatPage1Title {
    text-align: center;
}

.dropDownWrap {
    text-align: center;
}

.friendsDropDown {
    margin-top: 4em;
    margin-left: 1em;
    font-size: 12pt;
    /* arrow */
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px,
        5px 5px,
        2.5em 2.5em;
    cursor: pointer;
    width: 400px;
    height: 30px;
}

.friendsDropDown option {
    color: black;
    background-color: white;
}

.chatBtnWrap {
    text-align: center;
}

.startChatBtn {
    margin-top: 20em;
    padding: 1em 3em;
    background-color: #66cc99;
    color: white;
    border-radius: 10px;
    text-align: center;
}


/* Chat_page_2 CSS  */
.chatPage2Title {
    text-align: center;
}

.mobileFirst {
    border-radius: 10px;
    width: 275px;
    height: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 16px 5px;
}

.friendNameBox {
    padding: 0.8em 1em;
}

.chatFriendName {
    color: #070606;
    text-align: left;
    font-weight: bold;
    color: #66cc99;
    font-size: 16pt;
    padding-left: 0.3em;
}

.chatBoxForMsg {
    width: 95%;
    height: 80%;
    border-radius: 7px;
    background-color: #e0e0e2;
    padding: 5px;
    margin-bottom: 20px;
}

.icon-back {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #66cc99;
    padding: 7px;
    position: relative;
    overflow: hidden;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    float: left;
    margin-right: 7px;
    cursor: pointer;
}

.icon-back:hover {
    background-color: #e0e0e2;
}

.icon-back:active {
    background-color: #646464;
}

.chatMsgInput {
    border-radius: 50px;
    -webkit-box-shadow: 0 1px 11px #646464;
    box-shadow: 0 1px 11px #646464;
    padding: 10px;
    width: calc(100% + -72px);
    margin: 5px 0 0 8px;
    float: left;
}

.chatMsgInput * {
    font-family: helvetica;
    outline: none;
    border: none;
    caret-color: #00966c;
}

.chatMsgInput *::-webkit-input-placeholder {
    color: #929292;
}

.chatMsgInput *:-ms-input-placeholder {
    color: #929292;
}

.chatMsgInput *::-ms-input-placeholder {
    color: #929292;
}

.chatMsgInput *::placeholder {
    color: #929292;
}

.chatMsgSendBtn {
    width: 40px;
    height: 40px;
    background-color: #66cc99;
    border-radius: 50%;
    float: right;
    margin: 3px 11px 0 0;
    padding: 8px;
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    cursor: pointer;
}

#msgCloudBox {
    background-color: #536FE0;
    width: 50%;
    max-height: 50%;
    margin: 0.5em;
    margin-left: 7em;
    padding: 0.5em;
    border-radius: 0.5em;
}


/* Setting_payment_link_1  */
.paymentLinkAll h1 {
    color: #66cc99;
    font-weight: bold;
    margin-bottom: 1.5em;
    text-align: center;
}

.paymentLinkAll {
    cursor: pointer;
}

.firstRow {
    display: flex;
    justify-content: center;
}

.firstRow .addNew {
    flex-grow: 1;
    flex-basis: 30px;
    padding: 60px 20px;
    margin: 10px;
    background-color: #66cc99;
    color: white;
    text-align: center;
    font-weight: bold;
}

.firstRow .bcHydro {
    flex-grow: 1;
    flex-basis: 30px;
    padding: 60px 20px;
    margin: 10px;
    background-color: #d1eeecdc;
    text-align: center;
    font-weight: bold;
}

.secondRow {
    display: flex;
    justify-content: center;
}

.secondRow .mobile {
    flex-grow: 1;
    flex-basis: 30px;
    padding: 60px 20px;
    margin: 10px;
    background-color: #a7b3e6;
    text-align: center;
    font-weight: bold;
}

.secondRow .netflix {
    flex-grow: 1;
    flex-basis: 30px;
    padding: 60px 20px;
    margin: 10px;
    background-color: #a7b3e6;
    text-align: center;
    font-weight: bold;
}

.thirdRow {
    display: flex;
    justify-content: center;
}

.thirdRow .creditCard {
    flex-grow: 1;
    flex-basis: 30px;
    padding: 60px 20px;
    margin: 10px;
    background-color: #d1eeecdc;
    text-align: center;
    font-weight: bold;
}

.fourthRow {
    display: flex;
    justify-content: center;
}

.fourthRow .internet {
    flex-grow: 1;
    flex-basis: 30px;
    padding: 60px 20px;
    margin: 10px;
    background-color: #a7b3e6;
    text-align: center;
    font-weight: bold;
}

.fourthRow .cable {
    flex-grow: 1;
    flex-basis: 30px;
    padding: 60px 20px;
    margin: 10px;
    background-color: #a7b3e6;
    text-align: center;
    font-weight: bold;
    opacity: 0;
}


/* Setting_payment_link_2 */
.settingPmtLink2 {
    color: #66cc99;
    font-weight: bold;
    margin-bottom: 1.5em;
    text-align: center;
}

.settingPmtLink2 .icon-back {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #66cc99;
    padding: 7px;
    position: relative;
    overflow: hidden;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    float: left;
    margin-right: 7px;
    cursor: pointer;
    margin: 1px 30px;
    padding: 1px;
    outline: none;

}

.settingPmtLink2 .icon-back:hover {
    background-color: #e0e0e2;
}

.settingPmtLink2 .icon-back:active {
    background-color: #646464;
}

.cableBox {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 50px auto;
    background-color: #a7b3e6;
    text-align: center;
    font-weight: bold;
}

.cableURLDiv {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    font-weight: 700;
}

.cableURL {
    margin: .5rem 0;
    padding: .5rem;
}

.pmtLinkSaveBtn {
    margin: 12rem;
    padding: 1rem 6rem;
    box-shadow: 0 7px 20px rgba(0, 0, 0, .4);
    background-color: #66cc99;
    border-radius: 10px;
    color: white;
    font-size: 14pt;
}


/* Setting_notification CSS */
.contentsWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.reminder {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
    margin: 20px;
}

.newMessageDiv {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
    margin: 20px;
}

.paymentRequestDiv {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
    margin: 20px;
}

.paymentReceivedDiv {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
    margin: 20px;
}

.newFeaturesDiv {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
    margin: 20px;
}

#reminderSet {
    width: 20%;
    padding: 5px;
    border-radius: 10px;
}

.contentsWrap input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.contentsWrap label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #837f7f;
    display: block;
    border-radius: 100px;
    position: relative;
}

.contentsWrap label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 20px;
    height: 18px;
    background: white;
    border-radius: 50px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.contentsWrap input:checked+label {
    background: #36ad7b;
}

.contentsWrap input:checked+label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}



/*************************************************/
/***************** Harinder **********************/
/*************************************************/

/* SignUp Page*/
.sign-up {
    margin: 0;
    padding: 0;
    font-family: "Quicksand"sans-serif;
}

.desktoptitle {
    display: none;
}

.signupdesktop {
    display: none;
}

.signupwrapper .signuptitle {
    font-size: 40px;
    margin-left: 80px;
    margin-top: 50px;
    color: skyblue;
}

.signupwrapper {
    margin-left: 50px;
    margin-top: 70px;
}

.inputfield label {
    font-size: 15px;
    color: gray;
}

.inputfield .input {
    width: 400px;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 5px 0 0px;
}

.signbtn1 {
    width: 180px;
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    text-align: center;
    margin-left: 120px;
    margin-top: 50px;
    color: white;
    background-color: skyblue;
}

.inputfield:last-child {
    margin-bottom: 10px;
}

.inputfield p {
    margin-left: 120px;
    margin-top: 20px;
}

.inputfield a {
    text-decoration: none;
    color: skyblue;
}

@media (min-width:550px) {
    .signupdesktop {
        display: block;
        height: 100%;
        border: 30px solid skyblue;
        margin-left: 0;
    }

    .signupmain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
    }

    .inputfield .input {
        width: 570px;
    }

    .signuptitle {
        display: none;
    }

    .desktoptitle {
        display: block;
        font-size: 40px;
        margin-top: 10px;
        text-align: center;
        color: skyblue;
    }

    .inputfield p {
        display: none;
    }

    .signbtn1 {
        margin-left: 200px;
    }

    .signupdesktop img {
        width: 400px;
        height: 200px;
        margin-left: 100px;
        margin-top: 200px;
    }
}

/*Login Page*/
.loginmain {
    margin: 0;
    padding: 0;
    font-family: "Quicksand"sans-serif;
}

.loginmain .header img {
    height: 200px;
    width: 250px;
    padding: 30px;
}

.container {
    margin-left: 50px;
    margin-top: 20px;
}

.loginform .inputfield label {
    font-size: 15px;
    color: gray;
}

.loginform .inputfield .input {
    width: 400px;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 5px 0 0px;
}

.loginbtn2 {
    width: 180px;
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    text-align: center;
    margin-left: 120px;
    margin-top: 50px;
    color: white;
    background-color: skyblue;
}

.loginform .inputfield p {
    margin-left: 110px;
}

.loginform .forgot a {
    text-decoration: none;
    color: gray;
    margin-top: 100px;
    margin-left: 300px;
}

.logintitle,
.desktoplogin {
    display: none;
}


@media (min-width:550px) {
    .logincontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
    }

    .loginmain .header {
        display: none;
    }

    .logintitle,
    .desktoplogin {
        display: block;
    }

    .desktoplogin {
        height: 110%;
        border: 30px solid skyblue;
        /* width:100%; */
    }

    .desktoplogin img {
        width: 400px;
        height: 200px;
        margin-left: 100px;
        margin-top: 200px;
    }

    /* .container .loginform{
        width:100%;  
         margin-left:550px; 
    }  */

    .logintitle {
        text-align: center;
        color: skyblue;
        font-size: 40px;
        margin-top: 120px;
    }

    .loginform .inputfield .input {
        width: 570px;
    }

    .loginbtn2 {
        margin-left: 200px;
        margin-top: 100px;
    }

    .loginform .forgot {
        margin-left: 180px;
    }
}

/*Forgot Password*/
.forgotmain .header img {
    height: 200px;
    width: 250px;
    padding: 30px;
}

.forgotbtn3 {
    width: 180px;
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    text-align: center;
    margin-left: 120px;
    margin-top: 50px;
    color: white;
    background-color: skyblue;
}

.forgotloginlink a {
    text-decoration: none;
    color: black;
    border: 3px skyblue solid;
    margin-left: 180px;
}

.forgotloginlink {
    margin-top: 70px;
}

.forgottitle,
.desktopforgot {
    display: none;
}

@media (min-width:550px) {
    .forgotcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
    }

    .forgotmain .header,
    .forgotloginlink {
        display: none;
    }

    .desktopforgot,
    .forgottitle {
        display: block;
    }

    .desktopforgot {
        height: 125%;
        border: 30px solid skyblue;
    }

    .desktopforgot img {
        width: 400px;
        height: 200px;
        margin-left: 100px;
        margin-top: 200px;
    }

    .forgotcontainer .container .forgot {
        margin-left: 50px;
    }

    .forgottitle {
        text-align: center;
        color: skyblue;
        font-size: 40px;
        margin-top: 120px;
    }

    .forgot .inputfield .input {
        width: 570px;
    }

    .forgotbtn3 {
        margin-left: 200px;
        margin-top: 100px;
    }
}

/*Settings Page*/
.setimage .header {
    color: skyblue;
    text-align: center;
    margin-top: 8px;
}

.settingimg {
    width: 480px;
    height: 150px;
}

.fas {
    color: skyblue;
    margin-left: 10px;
    margin-top: 10px;
}

.setting {
    background-color: skyblue;
    height: 250px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
}

.setting .inputfield a {
    color: black;
    text-align: center;
}

.setting .inputfield {
    margin-left: 80px;
    padding: 20px;
}

.logout {
    margin-left: 50px;
}

@media (min-width:550px) {

    .settingimg,
    .setting {
        margin-left: 400px;
    }

    .setting {
        width: 500px;
    }

    .logout {
        margin-left: 130px;
    }
}

/*Setting help*/
.helpmain .header {
    color: skyblue;
    margin-top: 7px;
    /* position: relative; */
    text-align:center;
}

.help {
    height: 200px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 20px;
}

.help .inputfield label {
    font-size: 15px;
    color: gray;
}

.help .inputfield .input,
textarea {
    width: 430px;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 5px 0 0px;
}

.send-btn {
    width: 180px;
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    text-align: center;
    margin-left: 120px;
    margin-top: 30px;
    color: white;
    background-color: skyblue;
}

.desktophelp,
.helphead {
    display: none;
}

@media (min-width:550px) {

    .desktophelp,
    .helphead {
        display: block;
    }

    .helpmaincontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
    }

    .helphead {
        display: flex;
    }

    .helphead a {
        padding: 20px;
        margin-left: 200px;
        text-decoration: none;
        color: darkcyan;
    }

    .helphead img {
        height: 40px;
        width: 40px;
        margin-top: 5px;
        margin-left: 10px;
    }

    .desktophelp img {
        width: 300px;
        height: 400px;
        margin-left: 100px;
        margin-top: 50px;
    }

    .help .inputfield .input,
    textarea {
        width: 590px;
    }

    .send-btn {
        margin-left: 220px;
    }
}


/*************************************************/
/***************** Harsimran Singh ******************/
/*************************************************/

/* 15_Bill_Splitter_menu */
.splitterOptions {
    text-align: center;
}

.optionsLink {
    margin: 4em 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.optionsLink a{
    font-size: 20px;
    margin: 20px -40px;
    text-decoration: none;
    color: black;
}


