*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: quicksand;
}

body{
    padding: 0 10px;
}

.container{
    padding: 0 20px;
}

.subcontainer{
    max-width: 500px;
    width:200%;
    height: 600px;
    margin: 50px auto 0;
    display: flex;
    box-shadow: 0 0 5px 2px;
}

.help{
    width: 400px;
    height: 700px;
    padding: 40px 35px 0;
    position: relative;
}

.title{
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

label{
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
}

.input{
    margin: 5px 0 15px;
    width: 100%;
    padding: 8px 10px;
}

.btn{
    width: 120px;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background-color: rgb(128, 128, 128);
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    text-align: center;
    margin-left: 150px;
    margin-top: 40px;
    color: white;
}

@media (max-width: 500px){
    .subcontainer{
        flex-direction: column;
        align-items: flex-start;
    }
}