/*Bottom navigation bar*/
* {
    font-family: "Quicksand" sans-serif;
    width: 450px;
    justify-content: center;
    margin: auto;
    padding: .2rem;
}

.btn {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    padding: 5px;
}


