* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-align: center;
  font-weight: bold;
}

main .searchBox {
  background-color: #b2b3b8;
  margin: 10px 30px;
  height: 30px;
  text-align: left;
}

main .searchBox input {
  background-color: #b2b3b8;
  margin: auto;
  height: 25px;
  width: 100%;
  text-align: left;
}

main h4 {
  text-align: left;
  margin: 10px 30px;
}

main .allFriends {
  margin-top: 30px;
}

main .addBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  cursor: pointer;
  border: 2px solid #095776;
  margin-left: 35px;
  border-radius: 50%;
}

main .addBtn:after {
  content: '';
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #095776;
  top: 50%;
  left: 50%;
}

main .addBtn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #095776;
  height: 50%;
  width: 4px;
}

main .addFriendText {
  padding-top: 20px;
  text-align: left;
  padding-left: 100px;
}

main section {
  margin-top: 30px;
}

main section div {
  background-color: #b2b3b8;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  margin: 10px 30px;
}

main .addFriendNameList li {
  background-color: #b2b3b8;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  margin: 30px 30px;
  list-style-type: none;
  font-family: cursive;
}
