* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-align: center;
  font-weight: bold;
  font-family: Helvetica;
}

.fromContacts {
  background-color: #d8d8da;
  margin: 1.5em 5em;
  padding: 0.8em 1em;
}

.fromContacts h4 {
  text-align: center;
}

.showContactList {
  background-color: #b0e4ca;
  margin: 0.5em 5em;
  display: none;
}

.showContactList ul {
  list-style-type: none;
}

.showContactList ul li {
  padding: 0.7em;
  border: solid 1px white;
  cursor: pointer;
}

.showContactList ul li div {
  font-family: sans-serif;
  font-size: 11pt;
}

.addFriendBtn {
  background-color: #66cc99;
  color: white;
  margin-top: 15%;
  padding: 1em 9.5em;
}

.pickedName {
  border: solid 1px white;
  padding: 5%;
  width: 50%;
  margin-left: 20%;
  margin-top: 30%;
  font-size: 25px;
}
