$primaryColor: rgb(216, 216, 218);
$secondaryColor: #b0e4ca;
$btnColor: #66cc99;
$white: white;

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
}

.fromContacts {
    background-color: $primaryColor;
    margin: 1.5em 5em;
    padding: 0.8em 1em;

    h4 {
        text-align: center;
    }
}

.showContactList {
    background-color: $secondaryColor;
    margin: 0.5em 5em;

    ul {
        list-style-type: none;

        li {
            padding: 0.7em;
            border: solid 1px $white;
            cursor: pointer;

            div {
                font-family: sans-serif;
                font-size: 11pt;
            }
        }
    }

    display: none;
}


.addFriendBtn {
    background-color: $btnColor;
    color: $white;
    margin-top: 15%;
    padding: 1em 9.5em;
}

.pickedName {
    border: solid 1px white;
    padding: 5%;
    width: 50%;
    margin-left: 20%;
    margin-top: 30%;
    font-size: 25px;

}