$primaryColor: rgb(178, 179, 184);
$secondaryColor: rgb(100, 100, 100);
$btnColor: #095776;
$black : rgb(7, 6, 6);
$white : rgb(255, 255, 255);

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    text-align: left;
    box-sizing: border-box;
}

header {
    h1 {
        text-align: center;
    }
}

body {
    margin: 0;
}

.phone {
    border-radius: 10px;
    width: 275px;
    height: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    // position: absolute;
    padding: 16px 5px;
}

.screen {
    background-color: $white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.nav {
    // border: 1px solid $black;
    width: 100%;
    height: 50px;
}

.usernameBox {
    padding-top: 10px;
}

.username {
    color: $black;
    text-align: left;
}


.chat {
    width: 100%;
    height: calc(100% + -97px);
    overflow: auto;
    padding: 10px;
}

.message {
    border-radius: 7px;
    background-color: $secondaryColor;
    padding: 5px;
    width: calc(100% + -50px);
    margin-bottom: 10px;
}

.icon-back {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $secondaryColor;
    padding: 7px;
    position: relative;
    overflow: hidden;
    transition: background-color 200ms ease-in-out;
    float: left;
    margin-right: 7px;
}

.icon-back:hover {
    background-color: $primaryColor;
}

.icon-back:active {
    background-color: $secondaryColor;
}

.message:nth-child(odd) {
    float: left;
    background-color: $primaryColor;
}

.message:nth-child(even) {
    float: right;
}

.message span {
    color: $secondaryColor;
    font-size: 11.5px;
    font-weight: 600;
    float: right;
    margin-top: 5px;
}

.chat::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: $black;
    border: 2px solid $white;
    border-radius: 10px;
}

.input {
    border-radius: 50px;
    box-shadow: 0 1px 11px $secondaryColor;
    padding: 8px;
    width: calc(100% + -72px);
    margin: 5px 0 0 8px;
    float: left;
}

.input * {
    font-family: Roboto;
    outline: none;
    border: none;
    caret-color: #00966c;
}

.input *::placeholder {
    color: #929292;
}

.btn-send {
    width: 40px;
    height: 40px;
    background-color: $btnColor;
    border-radius: 50%;
    float: right;
    margin: 3px 11px 0 0;
    padding: 8px;
    transition: background-color 150ms ease-in-out;
}

.btn-send:hover {
    background-color: $btnColor;
}

.btn-send:active {
    background-color: $btnColor;
}

