$primaryColor: #66cc99;
$secondaryColor: #a7b3e6;
$tertiaryColor: #d1eeecdc;
$white: white;
$black: black;
 
 

* {
    margin: 0px;
    padding: 0px 0.7em;
    outline: none;
    text-align: center;
    font-weight: bold;
}

header {
    color: $primaryColor;
    font-weight: bold;
    margin-bottom: 1.5em;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;

    header main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.paymentLinkAll {
    cursor: pointer;
    
}

.firstRow {
    display: flex;
    justify-content: center;

    .addNew {
        flex-grow: 1;
        flex-basis: 30px;
        padding: 60px 20px;
        margin: 10px;
        background-color: $primaryColor;
        color: $white;
    }

    .bcHydro {
        flex-grow: 1;
        flex-basis: 30px;
        padding: 60px 20px;
        margin: 10px;
        background-color: $tertiaryColor;
    }
}

.secondRow {
    display: flex;
    justify-content: center;

    .mobile {
        flex-grow: 1;
        flex-basis: 30px;
        padding: 60px 20px;
        margin: 10px;
        background-color: $secondaryColor;
    }

    .netflix {
        flex-grow: 1;
        flex-basis: 30px;
        padding: 60px 20px;
        margin: 10px;
        background-color: $secondaryColor;
    }
}

.thirdRow {
    display: flex;
    justify-content: center;

    .creditCard {
        flex-grow: 1;
        flex-basis: 30px;
        padding: 60px 20px;
        margin: 10px;
        background-color: $tertiaryColor;
    }
}

.fourthRow {
    display: flex;
    justify-content: center;

    .internet {
        flex-grow: 1;
        flex-basis: 30px;
        padding: 60px 20px;
        margin: 10px;
        background-color: $secondaryColor;
    }

    .cable {
        flex-grow: 1;
        flex-basis: 30px;
        padding: 60px 20px;
        margin: 10px;
        background-color: $secondaryColor;
    }
}

footer {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin-top: 20px;
}