* {
    font-family: "quicksand" sans-serif;
    width: 450px;
    justify-content: center;
    margin: auto;
    padding: .2rem;
}

.header {
    text-align: center;
    font-size: 4rem;
}

.drop {
    display: flex;
    flex-direction: row;
}

.buttons {
    width: 4rem;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
}

.btn2 {
    margin-left: 350px;
}