* {
    font-family: "Quicksand" sans-serif;
    width: 450px;
    padding: 0.5rem;
}

.header {
    text-align: center;
}

#content th {
    border: solid 1px black;
}

#content td {
    border-bottom: solid 1px black;
}