$primaryColor: rgb(217, 218, 219);
$secondaryColor: rgb(100, 100, 100);
$btnColor: #66cc99;
$white: white;
$black: black;

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-family: helvetica;
}

main {
    div {
        h3 {
            margin-top: 100px;
            margin-bottom: 1.2em;
        }
    }
}

select {
    /* arrow */
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
  
    cursor: pointer;
    width: 400px;
    height: 30px;

    option {
        color: $black;
        background-color: $primaryColor;
    }
}

.startChatBtn {
    margin-top: 20em;
    padding: 10px 40px;
    background-color: $btnColor;
    color: $white;
    border-radius: 10px;
}