* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-align: center;
  font-weight: bold;
}

main div h3 {
  margin-top: 100px;
}

select {
  /* arrow */
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  cursor: pointer;
  width: 400px;
  height: 30px;
}

select option {
  color: inherit;
  background-color: #b2b3b8;
}

.chatBtn {
  margin-top: 20vh;
  padding: 10px 40px;
  background-color: #646464;
  color: white;
}
